body {
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

.LogoWeb {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #4d5ae5;
  letter-spacing: -3%;
  text-decoration: none;
}

.LogoStudio {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  color: #2e2f42;
  letter-spacing: -3%;
  text-decoration: none;
}

.nav-menu-list a{
    text-decoration: none;
    color: #2E2F42;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -2%;
}

.nav-menu-list li{
    list-style-type: none;
}